In [2]:
import pandas as pd
import numpy as np

In [30]:
orders_file = "../orders/orders-01.csv"
start_val = 1000000
commission = 9.95
impact = 0.005

In [31]:
# read in order book from CSV file
orders_record = pd.read_csv(
    orders_file, index_col="Date", parse_dates=True, na_values=['nan'])

In [32]:
# take a look at the order book after sorting by date
orders_record.sort_index(inplace=True)
orders_record.head()

           Symbol Order  Shares
Date
2011-01-10   AAPL   BUY    1500
2011-01-13   AAPL  SELL    1500
2011-01-13    IBM   BUY    4000
2011-01-26   GOOG   BUY    1000
2011-02-02    XOM  SELL    4000

In [33]:
def get_data(symbols, dates):
    '''
    Returns dataframe with adjusted closing values of the stocks specified in symbols within given time window

    Parameters:
    symbols (list): list of strings containing stock symbols
    dates (datetimes): datetimes within a range

    Returns:
    df (dataframe): dataframe with adjusted closing values of the stocks within specified time window
    '''

    df = pd.DataFrame(index=dates)

    # Add SPY to list of symbols if not already present. It is used as the benchmark.
    if 'SPY' not in symbols:
        symbols.insert(0, 'SPY')

    for symbol in symbols:
        df_stock = pd.read_csv('../data/{}.csv'.format(symbol), index_col='Date',
                               usecols=['Date', 'Adj Close'], parse_dates=True)
        df_stock.rename(columns={'Adj Close': symbol}, inplace=True)
        df = df.join(df_stock)

    df.dropna(subset=['SPY'], inplace=True)

    return df

In [62]:
# get unique stock symbols
symbols = list(orders_record['Symbol'].unique())
symbols

['AAPL', 'IBM', 'GOOG', 'XOM']

In [63]:
# get dates within start and end date range
start_date = orders_record.index.min()
end_date = orders_record.index.max()
dates = pd.date_range(start_date, end_date)

In [64]:
# get stock price data for specified symbols on dates provided
df = get_data(symbols, dates)
df.head()

               SPY    AAPL     IBM    GOOG    XOM
2011-01-10  123.19  340.99  143.41  614.21  72.02
2011-01-11  123.63  340.18  143.06  616.01  72.56
2011-01-12  124.74  342.95  144.82  616.87  73.41
2011-01-13  124.54  344.20  144.55  616.69  73.54
2011-01-14  125.44  346.99  145.70  624.18  74.62

In [65]:
# drop SPY column and add a new cash column with value 1
df.drop('SPY', axis=1, inplace=True)
df['cash'] = 1

In [69]:
# create a trader dataframe similar to df but with all values 0
trader = df.copy()
trader[:] = 0.0

In [79]:
# compute cash flow for each order
for order_date, row in orders_record.iterrows():
    order_symbol = row['Symbol']
    order_share = row['Shares']

    if row['Order'] == 'SELL':
        order_share = -1 * order_share
    else:
        order_share = order_share

    trader.loc[order_date, order_symbol] = trader.loc[order_date,
                                                      order_symbol] + order_share
    share_price = df.loc[order_date, order_symbol]
    fee = commission + abs(order_share) * share_price * impact
    trader.loc[order_date, 'cash'] = trader.loc[order_date,
                                                'cash'] - order_share * share_price - fee

In [84]:
trader.head()

              AAPL     IBM  GOOG  XOM        cash
2011-01-10  1500.0     0.0   0.0  0.0 -514052.375
2011-01-11     0.0     0.0   0.0  0.0       0.000
2011-01-12     0.0     0.0   0.0  0.0       0.000
2011-01-13 -1500.0  4000.0   0.0  0.0  -67392.400
2011-01-14     0.0     0.0   0.0  0.0       0.000

In [89]:
# update cashflows given starting investment value
temporary = trader.copy()
temporary[:] = 0.0
temporary.loc[start_date, 'cash'] = start_val
temporary.iloc[0, :] = temporary.iloc[0, :] + trader.iloc[0, :]

for i in range(1, len(temporary)):
    temporary.iloc[i, :] = temporary.iloc[i, :] + \
        (temporary.iloc[i-1, :] + trader.iloc[i, :])

In [93]:
temporary.head()

              AAPL     IBM  GOOG  XOM        cash
2011-01-10  1500.0     0.0   0.0  0.0  485947.625
2011-01-11  1500.0     0.0   0.0  0.0  485947.625
2011-01-12  1500.0     0.0   0.0  0.0  485947.625
2011-01-13     0.0  4000.0   0.0  0.0  418555.225
2011-01-14     0.0  4000.0   0.0  0.0  418555.225

In [97]:
# evaluate porfolio amount and cash for each day
stock_value = pd.DataFrame(
    temporary.values * df.values, index=df.index, columns=df.columns)
stock_value.head()

                AAPL       IBM  GOOG  XOM        cash
2011-01-10  511485.0       0.0   0.0  0.0  485947.625
2011-01-11  510270.0       0.0   0.0  0.0  485947.625
2011-01-12  514425.0       0.0   0.0  0.0  485947.625
2011-01-13       0.0  578200.0   0.0  0.0  418555.225
2011-01-14       0.0  582800.0   0.0  0.0  418555.225

In [100]:
# net portfolio value each day (sum of stock values and cash)
portvals = stock_value.sum(axis=1)
portvals.tail()

2011-12-21    1.108879e+06
2011-12-22    1.101617e+06
2011-12-23    1.100040e+06
2011-12-27    1.077827e+06
2011-12-28    1.073672e+06
dtype: float64